.container {
    overflow: auto; 
    height: 700px;
    width: 100%;
    background-size: cover;
    background: #23538a;
    background: -moz-linear-gradient(-45deg, #23538a 0%, #a7cfdf 100%);
    background: -webkit-linear-gradient(-45deg, #23538a 0%,#a7cfdf 100%);
    background: linear-gradient(135deg, #23538a 0%,#a7cfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=1 );
}
.welcoming {
    
    margin-left: 10%;
    margin-top: 150px;
    max-width: 400px;
    text-align: left;
    float: left;
    font-size: 1.5em;
    color: aliceblue;
    background-color: transparent;
}
.buttons {
    
    margin-top: 200px;
    margin-right: 10%;
    float: right;
    
    
}
.button {
    display: block;
    font-size: 2em;
    font-family: serif;
    width: 350px;
    height: 120px;
    margin-bottom:50px;
    
}

a {
    text-decoration: none;
}

.login-form {
    margin-top: 200px; 
    
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-form input,textarea {
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.login-form h1 {
    color: aliceblue;
    text-align: center;
}

.alert {
    color: white;
    text-align: center;
}

.idx-container {
     
    overflow: auto;
    background-color: #809fff;
}

.user-info {
    overflow: auto;
    background-color: white;
    float: left;
    margin: 10px;
    padding: 10px;
    clear: left;
    border: 1px solid gainsboro;
    position: relative;
}

.nav-bar {
    background-color: white;
    display: block;
    width: 100%;
}

ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	float: left;
	background-color: #fff;
	padding: 1px 0 1px 1px;
	border: 1px solid gainsboro;
        width: 100%;
       
}

ul li {
	float: left;
        width: 16.6%;
        text-align: center;
}

ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	font-weight: bold;
	background: #fff repeat-x center;
	color: #23538a;
	padding: 10px 20px;
	
}

ul a:hover {
	background-color: aliceblue;
        
}

.photo {
    display: block;
    background-color: #1822a5; 
    margin: 0 auto;
    border: 1px solid gainsboro;
    max-height: 300px;
    max-width: 300px;
}

.user-name {
    text-align: center;
    font-style: italic;
    display: block;
    clear: both;
}

.twits-info {
    background-color: transparent;
    border: 1px solid gainsboro;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
}

.twits {
        
    width: 600px;
    overflow: auto;
    background-color: white;
    float: right;
    margin: 10px;
    margin-right: 150px;
    clear: right;
    border: 1px solid gainsboro;
    
}

.user-info div {
    height: 30px;
}

.twit-miniphoto {
    max-width: 100px;
    max-height:100px;
}

.miniphoto-container {
    display: inline-block;
    max-width: 100px;
}

.twit-user {
    display: inline-block;
    
    margin: 0;
}

.twit-text {
    
}

.twit-comment p{
    
    text-align: right;
    
}
.twit-maxiphoto {
    max-width: 300px;
    max-height:300px;
    display: block;
    margin: 0 auto;
}